{% extends 'base.html' %}

{% block corpo %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Adicionar</button>
    </form>

{% endblock %}
